server:
  port: 8081

spring:
  application:
    name: main-service
  datasource:
    url: jdbc:postgresql://localhost:5432/main_service_db
    username: main_user
    password: main_pass
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

logging:
  level:
    root: INFO
    org.hibernate.SQL: WARN

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
