server:
  port: 8082

spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:postgresql://localhost:5433/auth_service_db
    username: auth_user
    password: auth_pass
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

jwt:
  secret: 6a4f7e2b1d9c8a3f5e0b7d2c4a6f8e1b3d5c7a9f0e2b4d6c8a1f3e5b7d9c0a2
  access-token-expiration: 1800000 # 30 minutes

logging:
  level:
    root: INFO
    org.hibernate.SQL: WARN

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
