server:
  port: 8080

jwt:
  secret: 6a4f7e2b1d9c8a3f5e0b7d2c4a6f8e1b3d5c7a9f0e2b4d6c8a1f3e5b7d9c0a2

logging:
  level:
    root: INFO
    org.springframework.cloud.gateway: INFO

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: main-service
          uri: lb://main-service
          predicates:
            - Path=/api/main/**
          filters:
            - StripPrefix=2
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/api/auth/**
          filters:
            - StripPrefix=2
        - id: notification-service
          uri: lb://notification-service
          predicates:
            - Path=/api/notifications/**
          filters:
            - StripPrefix=2
        - id: document-service
          uri: lb://document-service
          predicates:
            - Path=/api/documents/**
          filters:
            - StripPrefix=2

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
